* {
    color: white;
    font-family: 'Rubik Vinyl', cursive;
    /* 'Fredericka the Great', cursive; */
    /* 'Rubik Vinyl', cursive; */
    /* 'Libre Barcode 39', cursive; */
    font-size: 35px;
}
body {
    background-image: url('../TTT-images/background2.jpg');
    /* background-repeat: no-repeat; */
    background-position: center;
    /* background-size: cover; */
}
h1 {
    text-align: center;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 70px;
    margin : 0px;
}
.score {
    display: flex;
    justify-content: center;
}

.team {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gameBoard {
    display: flex;
    min-width: 350px;
    min-height: 310px;
    max-width: 350px;
    max-height: 310px;
    /* justify-content: center; */
    /* align-items: center; */
    flex-wrap: wrap;
    /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2); */
    /* background-color: blueviolet; */
}

#Box1 {
    width: 100px;
    height: 100px;
    /* background-color: aqua; */
    /* border: 2px solid; */
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    
}
#Box2 {
    width: 100px;
    height: 100px;
    /* background-color: aqua; */
    /* border: 2px solid; */
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    border-left: 3px solid white;
}
#Box3 {
    width: 100px;
    height: 100px;
    /* background-color: aqua; */
    /* border: 2px solid; */
    border-bottom: 3px solid white;
    border-left: 3px solid white;
}
#Box4 {
    width: 100px;
    height: 100px;
    /* background-color: aqua; */
    /* border: 2px solid; */
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    border-right: 3px solid white;

}
#Box5 {
    width: 100px;
    height: 100px;
    /* background-color: aqua; */
    border: 3px solid white;
}
#Box6 {
    width: 100px;
    height: 100px;
    /* background-color: aqua; */
    /* border: 2px solid; */
    border-bottom: 3px solid white;
    border-top: 3px solid white;
    border-left: 3px solid white;
}
#Box7 {
    width: 100px;
    height: 100px;
    /* background-color: aqua; */
    /* border: 2px solid; */
    border-top: 3px solid white;
    border-right: 3px solid white;
}
#Box8 {
    width: 100px;
    height: 100px;
    /* background-color: aqua; */
    /* border: 2px solid; */
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid white;
}
#Box9 {
    min-width: 100px;
    min-height: 100px;
    /* background-color: aqua; */
    /* border: 2px solid; */
    border-top: 3px solid white;
    border-left: 3px solid white;
}

.parent {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.restart {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/TTT-images/shuriken.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
    width: 150px;
}

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    
}

.CharChoice {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.chooseBtn {
    background: none;
    border: 100px;
    border-radius: 80px;
}
#X:hover {
    background-color: rgba(255, 166, 0, 0.5);
}
#O:hover {
    background-color: rgba(128, 0, 128, 0.5);
}

.imageGame {
    size: contain;
}

.O {
    background-image: url('/TTT-images/sasuke-turn.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.X {
    background-image: url('/TTT-images/naruto-turn.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#btn {
    background: rgba(0, 0, 0, 0.4);
    color: white;
    border-radius: 80%;
    font-size: 20px;
    /* height: 50px;
    width: 50px; */
    /* background-image: url("/TTT-images/shuriken.png"); */
    border: none;
}

#btn:hover {
    background-color: rgba(255, 166, 0, 0.459);
    border-radius: 80%;
}

.resetParent {
    display: flex;
    justify-content: center;
    margin: 25px;
}

.score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.result {
    text-align: center;
    font-size: 25px;
    margin: 15px;
}
.scoreBorad{
    margin-bottom: 0px;
}
#team {
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
}
.version {
    font-size: 30px;
    color: rgb(255, 153, 0);
    font-family: 'Permanent Marker', cursive;
    position: absolute;
    transform: rotate(-30deg);
    top: 10%;
    right: 20%;
    display: flex;
    width: 30px;
    /* background-color: aqua; */
}

.title {
    width: 600px;
    height: 150px;
    /* background-color: aqua; */
    position: relative;
    /* display: flex; */
    /* justify-content: center; */
    /* display: flex;
    justify-content: center; */
}
.titleParent {
    display: flex;
    justify-content: center;
}
